<!-- <nav class="navbar navbar-default justify-content-end">
  <button
    *ngIf="!isLoggedIn"
    class="btn btn-primary custom-button m-2"
    (click)="isLoggedIn = true"
  >
    LOGIN
  </button>

  <button
    *ngIf="isLoggedIn"
    class="btn btn-primary custom-button m-2"
    (click)="isLoggedIn = false"
  >
    LOGOUT
  </button>
</nav> -->

<nav class="navbar navbar-expand-lg p-3 justify-content-between">
  <a class="navbar-brand" href="#">Navbar</a>
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="d-flex align-items-center">
    <h4 class="text-white small mr-3">JESSICA</h4>
    <button type="button" class="clip-circle">
      <img src="assets/images/stock-woman.jpg" class="user-img" />
    </button>
  </div>

  <!-- <button
    *ngIf="isLoggedIn"
    class="btn btn-primary custom-button m-2"
    (click)="isLoggedIn = false"
  >
    LOGOUT
  </button> -->
</nav>
